<?xml version="1.0"?>
<launch>

	<arg  name="ip_address_1"  value="128.178.145.89"/>
	<arg  name="ip_address_2"  value="128.178.145.248"/>
	<arg  name="bias"	 default="False"/>
	<arg  name="rate" 	 default="200"/>	
	<arg  name="frame_id"    default="myframe"/>
	<arg  name="alpha"	 default="0" />	
	<arg  name="rot"	 default="0"/>
	<arg  name="scale_x"	 default="1"/>
	<arg  name="scale_y"	 default="1"/>
	<arg  name="scale_z"	 default="1"/>


	<group ns="ft_sensor_left">
		<param name="frame_id" type="str" value="$(arg frame_id)"/>
		<node name="force_torque_sensor" pkg="netft_rdt_driver" type="netft_node" 
		    args="--address $(arg ip_address_1) --rate $(arg rate) --bias $(arg bias) --rot $(arg rot) --alpha $(arg alpha) --scale_x $(arg scale_x) --scale_y $(arg scale_y) --scale_z $(arg scale_z)" 
			 required="true" output="screen"/>
	</group>

	<group ns="ft_sensor_right">
		<param name="frame_id" type="str" value="$(arg frame_id)"/>
		<node name="force_torque_sensor" pkg="netft_rdt_driver" type="netft_node" 
		    args="--address $(arg ip_address_2) --rate $(arg rate) --bias $(arg bias) --rot $(arg rot) --alpha $(arg alpha) --scale_x $(arg scale_x) --scale_y $(arg scale_y) --scale_z $(arg scale_z)" 
			 required="true" output="screen"/>
	</group>

</launch>