<?xml version="1.0"?>
<launch>
    <!-- Gamma Force Torque Sensor -->
    <arg name="ip_address" default="128.178.145.89"/>
    <!--    <arg name="ip_address" default="128.178.145.248"/>-->

    <!-- Nano Force-Torque Sensor -->
    <!-- <arg  name="ip_address"  default="128.178.145.58"/> -->

    <arg name="bias" default="False"/>
    <arg name="rate" default="100"/>
    <arg name="frame_id" default="ft_sensor"/>
    <arg name="alpha" default="0"/>
    <arg name="rot" default="0"/>
    <arg name="scale_x" default="1"/>
    <arg name="scale_y" default="1"/>
    <arg name="scale_z" default="1"/>

    <arg name="rqt_multiplot_bringup" default="false"/>

    <group ns="ft_sensor">
        <param name="frame_id" type="str" value="$(arg frame_id)"/>
        <node name="force_torque_sensor" pkg="netft_rdt_driver" type="netft_node"
              args="--address $(arg ip_address) --rate $(arg rate) --bias $(arg bias) --rot $(arg rot) --alpha $(arg alpha) --scale_x $(arg scale_x) --scale_y $(arg scale_y) --scale_z $(arg scale_z)"
              required="true" output="screen"/>
    </group>

    <group if="$(arg rqt_multiplot_bringup">
        <node name="rqt_multiplot" pkg="rqt_multiplot" type="rqt_multiplot"
              args="--multiplot-config $(find netft_rdt_driver)/config/force_torque_readings.xml"/>
    </group>

</launch>
